.booklist {
  width: 100%;
}
.booklist-content {
  gap: 3rem;
}
.book-item {
  padding: 0 0 30px 0;
  border-radius: 24px;
  background-color: var(--purple-color);
  box-shadow: rgba(0, 0, 0, 0.428) 0px 5px 15px 0px;
  transition: var(--transition);
}
.book-item a {
  width: 100%;
}
.book-item:hover {
  box-shadow: #25252b 0px 5px 15px 0px;
}
.book-item-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
}
.book-item-img img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
}
.book-item-info {
  margin-top: 15px;
}
.starshiptxt {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #bdc7e4;
}
.starshipName {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #bdc7e4;
}

@media screen and (min-width: 600px) {
  .booklist-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .booklist-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .booklist-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .booklist-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
