.header-content {
  flex-direction: column;
  padding: 10px 0px;
}
.header_logo {
  display: flex;
  flex-direction: row;
  padding: 10px 0 40px 0;
}
.header_img {
  width: 200px;
  height: 40px;
  margin-right: 5px;
}
@media screen and (max-width: 500px) {
  .header_img {
    width: 150px;
    height: 35px;
    margin-right: 5px;
  }
}
