@import "~@fortawesome/fontawesome-free/css/all.css";

.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px 0 0 0;
  border-radius: 5px;
}
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footerName {
  opacity: 0.8;
  font-size: 16px;
  color: var(--lilac-color);
}
.footerName a{
  font-size: 16px;
  color: var(--lilac-color);
  font-weight:bold;
}
