.starship-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bdc7e4;
  background-color: #fff;
  border-radius: 24px;
}
.starship-details {
  background: linear-gradient(to bottom right, #332830, #141623);
  padding: 5px;
  border-radius: 24px;
}
.starship-details-img {
  display: flex;
  width: 80%;
  height: 180px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
  border-radius: 24px;
}
.starship-details-img img {
  border-radius: 4px;
  border-radius: 24px;
}
.starship-details-item {
  margin-bottom: 12px;
}
.starship-details-item.description {
  opacity: 0.8;
}
.starship-details-info {
  width: 60%;
  max-height: 600px;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.starshipScreenModal {
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 5px;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.starshipFilterContainer {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.starshipDetailName {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #bdc7e4;
  border-bottom: 1px solid #bdc7e4;
  margin-bottom: 20px;
}
.starshiptxt {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #bdc7e4;
}
@media screen and (max-width: 1100px) {
  .starshipScreenModal {
    width: 35%;
  }
}
@media screen and (max-width: 900px) {
  .starshipScreenModal {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .starshipScreenModal {
    width: 50%;
  }
  .starship-details-content {
    gap: 0;
  }
}
@media screen and (max-width: 600px) {
  .starshipScreenModal {
    width: 60%;
  }

}
@media screen and (max-width: 450px) {
  .starshipScreenModal {
    width: 70%;
  }

}