.starship-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--lilac-color);
  background-color: var(--white-color);
  border-radius: 24px;
  padding: 10px 0;
}
.starship-details {
  background: linear-gradient(
    to right,
    var(--secondaryColor),
    var(--primaryColor)
  );
  padding: 5px;
  border-radius: 24px;
}
.starship-details-img {
  display: flex;
  width: 80%;
  height: 180px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
  border-radius: 24px;
}
.starship-details-img img {
  border-radius: 4px;
  border-radius: 24px;
}
.starship-details-item {
  margin-bottom: 12px;
}
.starship-details-item.description {
  opacity: 0.8;
}
.starship-details-info {
  width: 60%;
  max-height: 600px;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.starshipScreenModal {
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 28%;
  padding: 5px;
  gap: 10px;
  background-color: var(--white-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.starshipFilterContainer {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.starshipDetailName {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--lilac-color-color);
  border-bottom: 1px solid var(--lilac-color);
  margin-bottom: 20px;
}
.starshiptxt {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--lilac-color);
}
.modalCloseIcon {
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 20px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.428) 0px 5px 15px 0px;
}
.modalCloseIcon:hover {
  box-shadow: var(--secondaryColor) 0px 5px 15px 0px;
}
.starshiptxtList {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #bdc7e4;
}
.starshipNameList {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #bdc7e4;
}

@media screen and (max-width: 1300px) {
  .starshipScreenModal {
    width: 35%;
  }
}
@media screen and (max-width: 1000px) {
  .starshipScreenModal {
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  .starshipScreenModal {
    width: 50%;
  }
  .starship-details-content {
    gap: 0;
  }
}
@media screen and (max-width: 700px) {
  .starshipScreenModal {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  .starshipScreenModal {
    width: 70%;
  }
}
@media screen and (max-width: 470px) {
  .starshipScreenModal {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .starshipScreenModal {
    width: 90%;
  }
}
